.MyProjects {
    height: 100vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--grey);
    position: relative;

    /* ntc when I got more than three projects what should the component do? scrolling down maybe? it's better to see what is the most common thing to do in that case */
}


.MyProjects .myproject-title {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 50px;
    margin-bottom: 1em;
}

.MyProjects .projects-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

}

.MyProjects .project-box {
    height: 200px;
    width: 300px;
    border-radius: 38px;
    border: 10px white solid;
    display: flex;
    overflow: hidden;

}

.MyProjects .project-box:hover {
    cursor: pointer;
}

.MyProjects .project-box img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}