.About {
    height: 100vh;
    text-align: center;
    color: white;
    background-color: var(--dark-blue);
    padding-top: 180px;
    position: relative;
}

.About .text-con {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 1em;
}

.About .about_intro {
    font-size: 1.5rem;
}

.About .about_intro span {
    font-weight: bold;
    color: var(--blueish-purple);
}

.About .about_intro .point {
    font-weight: bold;
    color: white;
}

.About .about_title {
    text-transform: capitalize;
    font-size: 3rem;
    line-height: 3rem;
}

.About .about_description {
    padding: 0 3em;
}

.About .about-btn {
    background: none;
    border: none;
    color: white;
    font-weight: bold;
    background-color: var(--blueish-purple);
    padding: 0.5em 2em;
    border-radius: 30px;
    font-size: 1.2rem;
    font-family: "Poppins";
    margin-top: 1em;
    text-decoration: none;
}

.About .img-cont {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    display: flex;
    align-items: center;
}

.About .grey-circle {
    position: relative;
    top: 120px;
    right: 50px;
}

.About .profile-image-con {
    display: none;
}

.About .orange-circle-about-no-tail {
    z-index: 50;
    display: none;
    width: 40px;
    height: 40px;
    background-color: white;
    border-radius: 50%;
    top: 500px;
    right: 950px;
    position: absolute;
}

.About .blue-circle-about {
    display: none;
    position: absolute;
    right: 0px;
    bottom: 100px;

}

.About .grey-circle-about {
    display: none;
    position: absolute;
    right: 1200px;
    bottom: 0px;

}

/* max 375px*/

@media (max-width: 375px) {

    .About {

        padding-top: 150px;
    }

    .About .about_intro {
        font-size: 1rem;
    }

    .About .about_title {
        text-transform: capitalize;
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .About .about_description {
        padding: 0 3em;
        font-size: 0.8rem;
    }

    .About .about-btn {
        font-size: 0.8rem;
    }

    .About .orange-circle {
        position: relative;
        bottom: 80px;
    }

    .About .grey-circle {
        top: 40px;
    }

}

/* max 390px */
@media (max-width: 390px) {
    .About .about_intro {
        font-size: 1.3rem;
    }

    .About .about_title {
        font-size: 2rem;
        line-height: 2rem;
    }

}

/* max 430px */

@media (min-width: 380px) and (max-width: 430px) {
    .About .grey-circle {
        top: 150px
    }
}

/* max 360 */

@media (max-width: 360px) {

    .About .grey-circle {
        position: relative;
        top: 120px;
        right: 50px;
    }
}


/* TABLET AND IPADS */

/*768px to 1024px */

@media (min-width:768px) and (max-width:1024px) {

    .About {
        padding-top: 100px;
    }

    .About .about_content {
        display: flex;
        align-items: center;
        padding: 2em;
        gap: 4em;
    }

    .About .text-con {
        align-items: start;
        padding: 0px;
        gap: 2em
    }

    .About .text-con>* {
        text-align: start;
    }

    .About .about_description {
        padding: 0;

    }

    .About .profile-image-con {
        background: var(--dark-black);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 250px;
        width: 250px;
        border-radius: 50%;
        flex-shrink: 0;
        outline: 1px solid white;
        outline-offset: 15px;

    }

    .About .profile-image-con img {
        height: 80%;
        width: 80%;

    }



}


/* Desktop and Large screens */

/*  1024px*/
@media (min-width: 1024px) {

    .About .blue-circle {
        display: block;

    }

    .About .orange-circle,
    .About .grey-circle {
        display: none;
    }

    .About .blue-circle-about,
    .About .grey-circle-about {
        display: block;
    }


    .About {
        padding-top: 20px;
        padding: 5rem 12rem;
    }

    .About .orange-circle-about-no-tail {
        display: block;
    }


    .About .about_title {
        font-size: 5rem;
        line-height: 5rem;
    }

    .About .about_content {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8em;
        padding-right: 3em
    }

    .About .text-con {
        align-items: start;
        padding: 0px;
        gap: 2em
    }

    .About .text-con>* {
        text-align: start;
    }

    .About .about_description {
        padding: 0em;
        padding-right: 12rem;

    }

    .About .profile-image-con {
        background: var(--dark-black);
        display: flex;
        align-items: center;
        justify-content: center;
        height: 500px;
        width: 500px;
        border-radius: 50%;
        flex-shrink: 0;
        outline: 1px solid white;
        outline-offset: 25px;

    }

    .About .profile-image-con img {
        height: 100%;
        width: 100%;
        position: relative;
        bottom: 1.5em;

    }

}