.Contact {
    height: 100vh;
    background-color: var(--dark-blue);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    overflow: hidden;
    position: relative;
}

.Contact .contact_title {
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-top: 50px;
    color: white;
}

.Contact form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2em;
    background-color: var(--dark-grey);
    width: fit-content;
    padding: 2em;
    border-radius: 20px;
    width: 80%;
}

.Contact form input,
.Contact form textarea {
    border: none;
    color: var(--grey);
    width: 100%;
    font-size: 20px;
    padding: 1em;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
}

.Contact form textarea {
    height: 200px;
}

.Contact .send-btn {
    border: none;
    background-color: var(--blueish-purple);
    color: white;
    padding: 1em 3.5em;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;

}

.Contact form input::placeholder,
.Contact form textarea::placeholder {
    color: #C3C3C3;
    font-weight: bold;
}

.Contact .social-icons-container {
    color: white;
    font-size: 3em;
    gap: 1em;
    display: flex;
    align-items: center;
    color: var(--grey)
}

.Contact .social-icons-container>*:hover {
    cursor: pointer;
    color: var(--blueish-purple)
}

.Contact .faSquareWhatsapp {
    background-color: var(--dark-blue);
}

.Contact .mobile-blue-circle {
    position: relative;
    bottom: 0;
    right: 130px;

}

.Contact .mobile-small-grey-circle {
    position: relative;
    bottom: 140px;
    left: 120px;
}


/* RESPONSIVE */


/* 360px */
@media (max-width:360px) {
    .Contact .contact_title {
        font-size: 2rem;
        text-transform: uppercase;
        padding-top: 50px;
        color: white;
    }

    .Contact form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1em;
        background-color: var(--dark-grey);
        width: fit-content;
        padding: 2em;
        border-radius: 20px;
        width: 80%;
    }

    .Contact form textarea {
        height: 100px;
    }

    .Contact form input,
    .Contact form textarea {
        border: none;
        color: var(--grey);
        width: 100%;
        font-size: 10px;
        padding: 1em;
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
    }

    .Contact .send-btn {
        font-size: 10px;

    }

}

/* 375px */

@media (min-width: 361px) and (max-width: 375px) {

    .Contact .contact_title {
        font-size: 1.6rem;
        text-transform: uppercase;
        padding-top: 50px;
        color: white;
    }


    .Contact form input,
    .Contact form textarea {
        border: none;
        color: var(--grey);
        width: 100%;
        font-size: 10px;
        padding: 1em;
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
    }

    .Contact form {
        gap: 1em;
    }

    .Contact form textarea {
        height: 100px;
    }

    .Contact .send-btn {
        font-size: 10px;

    }

    .Contact .social-icons-container {
        font-size: 2em;

    }

    .Contact .mobile-blue-circle {
        position: relative;
        bottom: 0;
        right: 100px;
        bottom: 20px;

    }

    .Contact .mobile-small-grey-circle {
        position: relative;
        bottom: 140px;
        left: 120px;
    }

}

/* 380-390 */

@media (min-width: 380px) and (max-width: 390px) {

    .Contact .contact_title {
        font-size: 2rem;
        text-transform: uppercase;
        padding-top: 50px;
        color: white;
    }

    .Contact form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2em;
        background-color: var(--dark-grey);
        width: fit-content;
        padding: 2em;
        border-radius: 20px;
        width: 80%;
    }

    .Contact form input,
    .Contact form textarea {
        border: none;
        color: var(--grey);
        width: 100%;
        font-size: 15px;
        padding: 1em;
        border-radius: 10px;
        font-family: "Poppins", sans-serif;
    }

    .Contact .send-btn {
        font-size: 15px;

    }

}