*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --blueish-purple: #6F5FFE;
  --dark-blue: #272F3D;
}

body {
  height: 100vh;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

#root {
  height: 100%;
}